.basket-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: calc(100% + 100px);
}

.basket-container h1 {
  margin-top: calc(100px + 1em);
  margin-bottom: 1em;
}

.empty-basket {
  background-color: #fff;
}

.basket-wrapper {
  background-color: #DD7596;
  width: 90%;
  padding: 1em;
}

.basket-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em;
  border-bottom: 2px solid #000;
  margin-bottom: 1em;
}

.name-btn-wrapp {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d6d6;
  margin-top: .5em;
  border-radius: 100px;
}

.basket-btn-wrapper p {
  width: 33%;
  text-align: center;
  font-weight: 700;
}

.basket-btn-wrapper button {
  width: 33%;
  border: 0;
  background-color: #838383;
  color: #fff;
}

.clear-btn {
  border: 0;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: .5em 1.5em;
}

.basket-add-btn {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: .5em 1.5em;
}

.basket-remove-btn {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: .5em 1.5em;
}

.basket-add-btn:hover,
.basket-add-btn:focus,
.basket-remove-btn:hover,
.basket-remove-btn:focus,
.clear-btn:focus,
.clear-btn:hover {
  color: #fff;
  background-color: #772D8B;
}

.basket-total {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order-btn {
  margin-top: 1em;
  padding: 1.5em 4em;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.order-btn:hover, .order-btn:focus {
  background-color: #772D8B;
  color: #fff;
  border: 1px solid #fff;
}

.my-order {
  padding: 1em;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #DD7596;
}

.my-order h2 {
  text-align: center;
  margin-bottom: .5em;
}

.my-order p + p,
.my-order div {
  margin-top: .3em;
}

.my-order--heading {
  font-weight: 700;
}

@media (min-width: 720px) {
  .name-btn-wrapp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=basket.css.map */