@import "../../colors";

.promotions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.promotions-container h3 {
    margin-left: 25px;
    margin-bottom: .5em;
    font-weight: 700;
}

.promotion-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 300px;
    margin-left: 25px;
}

.promotions-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2em;
    color: $white-clr;
    background: $accent-clr;
    position: relative;
    border-left: 5px solid $white-clr;
    width: 100%;
    height: 200px;
    margin-bottom: 1em;
}

.promotions-container form label p  {
    margin: .3em 0;
}

.promotions-container form label input {
    margin-top: .5em;
    border-radius: 100px;
    padding: .7em;
    border: none;
    width: 100%;
}

.code-btn {
    padding: .7em 2.5em;
    border: 1px solid $accent2-clr;
    transition: .4 ease;

    &:hover,
    &:focus {
        background-color: $black-clr;
        color: $accent2-clr
    }
}

.error {
    margin-top: .5em;
}

.promotions-btns-wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.prom-btn {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 50px;
    background-color: $proms;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: rgb(212, 212, 212);
    }
}

.clear-prom-btn {
    background-color: rgb(150, 109, 93);

    &:hover,
    &:focus {
    background-color: rgb(161, 124, 124);
    }
}

.prom-btn .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 30;
    background-color: $black-clr;
    color: $white-clr;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}

.prom-btn:hover .tooltiptext,
.prom-btn:focus .tooltiptext {
    visibility: visible;
}

:disabled {
    cursor: not-allowed;
    background: $disabled;

    &:hover {
    cursor: not-allowed;
    background: $disabled;
    }
}

@media(min-width: 840px) {
    .promotions-container {
       justify-content: center;
       align-items: flex-start;
       width: 100%;
       padding: 0 2em;
    }
    
    .promotion-form {
       flex-direction: row;
       justify-content: space-between;
        width: 100%;
    }

    .promotions-container form {
            width: 60%;
    }
    
    .promotions-btns-wrapper {
      flex-direction: column;
      width: auto;
      margin-left: 1em;
    }
}